@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');




:root {
    --bg-color: #db9eeb;
    --primary-color: #030303;
    --secunndary-color: #d179d1;
    font-family: "Spicy Rice", sans-serif;

}
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);

}